
   
        <div class="container">
        
            <div class="row wow fadeIn" data-wow-delay="0.2s">
                <div class="col-lg-6">
            
                    <div class="view overlay hm-white-light z-depth-1-half">
                        <img src="https://mdbootstrap.com/img/Photos/Slides/img%20%2877%29.jpg" class="img-fluid " alt="">
                        <div class="mask">
                        </div>
                    </div>
                    <br>
                </div>

   
                <div class="col-lg-6">
                    <h4 class="h4-responsive font-bold">PHP REST API !</h4>
                    <hr>
                    <p>The application back-end is built in PHP using Laravel 5 framework. The front-end is built in Angular 2 using TypeScript.!</p>
                    <li>
                        To run the php server goto the root of the folder and in terminal type <b>php artisan serve</b>.
                        </li>
                          <li>
                       Mysql configuration is required to access the database.
                        </li>
                        <li>
                      The .env file has <b>DB_CONNECTION=mysql , DB_NAME=mydb,DB_USERNAME = root, DB_PASSWORD= </b>
                        </li>
                          <li>
                        After configuring the mysql, run <b>php artisan migrate</b> followed by <b>php artisan serve</b>.
                        </li>

                </div>
            </div>
            <hr>
            <div class="col-lg-12">
                To run the Angular 2 front-end , dependencies are needed to be installed which can be done by running tthe command <b>npm install.</b><br>
                <b>ng serve</b> spins up the Angular 2 development server.
                <br>
                The CRUD REST API uses a <b>Customer</b> model having fields such as id, email and title. <b>The Customer Controller</b> handles the various<b> GET, POST, UPDATE AND DELETE requests.</b>
                </div>
  

            <hr class="extra-margins my-5">

       
            <div class="row pt-4">
          
                <div class="col-lg-4">
              
                    <div class="card wow fadeIn" data-wow-delay="0.4s">

                        <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20(37).jpg" alt="Card image cap">

                       
                        <div class="card-body">
                        
                            <h4 class="card-title text-center">PHP</h4>
                            <hr>
                        
                        </div>

                    </div>
   
                </div>
      

                <div class="col-lg-4">
            
                    <div class="card wow fadeIn" data-wow-delay="0.6s">

              
                        <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20(21).jpg" alt="Card image cap">

                 
                        <div class="card-body">
                     
                            <h4 class="card-title text-center">Laravel</h4>
                            <hr>
                        
                              </div>

                    </div>
       
                </div>
           
                <div class="col-lg-4">
      
                    <div class="card wow fadeIn" data-wow-delay="0.8s">

                
                        <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20(12).jpg" alt="Card image cap">

                        <div class="card-body">
                       
                            <h4 class="card-title text-center">Angular 2</h4>
                            <hr>
         
                            </div>

                    </div>
                
                </div>
             
            </div>
    
        </div>
 


    <footer class="page-footer center-on-small-only">

        

        <hr>


        <div class="call-to-action">
            <h4 class="mb-5">Design and Developed By Mohammad Shahnawaz</h4>
        </div>


        <div class="footer-copyright">
            <div class="container-fluid">
                © 2015 Copyright: <a> Mohammad Shahnawaz </a>

            </div>
        </div>


    </footer>
