 <div class="container">
     
                <div class="span10 offset1">
                    <div class="row">
                        <h3>Delete a Customer</h3>
                    </div>

                      <input type="hidden" name="id" value=""/>
                      <p class="alert alert-error">Are you sure to delete ?</p>
                      <h3>{{data.title}}</h3>
                         <p>{{data.email}}</p>
                      <div class="form-actions">
                          <button (click)="ondelete()" class="btn btn-danger">Yes</button>
                          <a class="btn btn-primary" [routerLink]="['/view']">No</a>
                        </div>
                        <h3>{{deleted}}</h3>     
                       </div>
                    </div>