<div class="container">
     
                <div class="span10 offset1">
                    <div class="row">
                        <h3>Read a Customer</h3>
                    </div>
                     
                    <div class="form-horizontal" >
                      <div class="control-group">
                        <label class="control-label"><b>Name</b></label>
                        <div class="controls" >
                            <label class="checkbox" id="title" >
                              {{data.email}}
                            </label>
                        </div>
                      </div>
                      <div class="control-group">
                        <label class="control-label"><b>Email Address</b></label>
                        <div class="controls">
                            <label class="checkbox" id="email" >
                               {{data.title}}
                            </label>
                        </div>
                      </div>
                  
                      </div>
                        <div class="form-actions">
                          <a class="btn btn-lg btn-primary" [routerLink]="['/view']" >Back</a>
                       </div>
                       </div>
               
                      
                    </div>